{% extends "wed_gen/components/base.html" %}
{% load static %}

{% block content %}
<section class="home-section">
     <h class="home-text text-ww">ท่องเที่ยวนครปฐม</h>
     <h5 class="home-text text-ww">เราจะพาคุณไปสู่สถานที่ท่องเที่ยวที่น่าสนใจ</h5>
    <p>
     <a class="button " href="{% url 'locations' %}">สถานที่ท่องเที่ยว</a>
     {% if user.is_authenticated %}
     <a class="button button-r1" href="{% url 'logout'%}">ออกจากระบบ</a>
     {% else %}
     <a class="button button-p1" href="{% url 'login'%}">เข้าสู่ระบบ</a>
     {% endif %}
   </p>
</section>
<section class="content-section">
   <div class="content-container">
     <h2 class="content-title text-center">※∗∗∗สถานที่แนะนำ∗∗∗※</h2>
     <div class="grid">
       <div>
         <a href="location/1">
          <img class="image-block" src="{% static 'wed_gen/องพระ.jpg' %}">
         </a> 
          <h6 class="text-center location-title "><a href="location/1 "> องค์พระปฐมเจดีย์ </a></h6>
       </div>   
       <div>
         <a href="location/3">
          <img class="image-block" src="{% static 'wed_gen/ชมพูพันธ์ทิพย์1.jpg' %}">
         </a> 
          <h6 class="text-center location-title"> <a href="location/3">ชมพูพันธุ์ทิพย์ ม.เกษตร กำแพงแสน </a></h6>
       </div>  
       <div>
         <a href="location/2">
          <img class="image-block" src="{% static 'wed_gen/พระราชวัง.jpg' %}">
         </a> 
          <h6 class="text-center location-title"> <a href="location/2">พระราชวังสนามจันทร์</a> </h6>
       </div>   
       <div>
         <a href="location/4">
          <img class="image-block" src="{% static 'wed_gen/ทุ่งบัวแดง.jpg' %}">
         </a> 
          <h6 class="text-center location-title"> <a href="location/4">ตลาดน้ำทุ่งบัวแดง</a> </h6>
       </div>  
       <div>
         <a href="location/5">
          <img class="image-block" src="{% static 'wed_gen/หอภาพยนต์.jpg' %}">
         </a> 
          <h6 class="text-center location-title"> <a href="location/5">หอภาพยนต์</a> </h6>
       </div>  
       <div>
         <a href="location/6">
          <img class="image-block" src="{% static 'wed_gen/พุทธมณฑล1.jpg' %}">
         </a> 
          <h6 class="text-center location-title"> <a href="location/6">พุทธมณฑล</a> </h6>
      </div>
    </div> 
  </div>
</section>
{% endblock %}