{% extends "wed_gen/components/base.html" %}

{% block site_title %}เปลี่ยนรหัสผ่านเรียบร้อย | {% endblock %}

{% block content %}
<section class="content-section content-section-single text-center">
  <div class="content-container content-container-narrow text-center">
    <h3 class="content-title">เปลี่ยนรหัสผ่านเรียบร้อย</h3>
    <p class="content-title">คุณสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ได้เลย</p>
    <p>
      <a class="button button-p" href="{% url 'login' %}">เข้าสู่ระบบ</a>
    </p>
  </div>
</section>
{% endblock %}
