{% extends "wed_gen/components/base.html" %}

{% block site_title %}เปลี่ยนรหัสผ่าน | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container-narrow">
    <div class="icon-text-2">
      <i class="fa fa-user-circle" style="font-size:80px;color:#1877F2"></i>
      <h2 class="content-title-2">สวัสดี {{ user.username }}</h2>
  </div>
    <p class="text-center">
      <a href="{% url 'dashboard' %}">สถานที่โปรด</a>
      <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
      <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
    </p>
    <h4 class="text-center">เปลี่ยนรหัสผ่าน</h4>
    <div class="box-2"> 
    <form action="{% url 'password_change' %}" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.as_p }}
    </div>
      <div class="form-field text-center">
        <button class="button button-p" type="submit">บันทึก</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
