{% extends "wed_gen/components/base.html" %}

{% block site_title %}ลืมรหัสผ่าน | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container-narrow">
    <h3 class="content-title">ลืมรหัสผ่าน</h3>
    <p>กรุณากรอกอีเมลเพื่อที่จะตั้งรหัสผ่านใหม่</p>
    <form action="{% url 'password_reset' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-field">
        <button class="button button-p" type="submit">ยืนยัน</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
