<footer class="site-footer"> 
    <h5 class="text-color-4">ติดต่อสอบถามเราได้ที่</h5>
    <div class="content-title-2">
        <a class="icon-text-1">
            <i class="fa fa-facebook" style="font-size:28px;color:#1877F2;"></i><h6 style="display: inline; margin: 0;"><a class="text-color-1" href="#">Facebook</a></h6>
        </a>
        <a class="icon-text-1">
            <i class="fa fa-instagram" style="font-size:28px;color:#d62976;"></i><h6 style="display: inline; margin: 0;"><a class="text-color-3" href="#">Instagram</a></h6>
        </a>
        <a class="icon-text-1">
            <i class="fa fa-twitter" style="font-size:28px;color:#1DA1F2;"></i><h6 style="display: inline; margin: 0;"><a class="text-color-2" href="#">Twitter</a></h6>
        </a>
        
    </div>
    <div class="content-title-2">
    <a class="icon-text-1 text-color-4">
        <i class="fa fa-envelope" style="font-size:28px;"></i><h6 style="display: inline; margin: 0;"><a class="text-color-4">Email : xxxxxxxxxx@xxx.com</a></h6>
    </a>
    <a class="icon-text-1 text-color-4">
        <i class="fa fa-phone" style="font-size:28px;"></i><h6 style="display: inline; margin: 0;"><a class="text-color-4">Tel : 0987654321</a></h6>
    </a>
    </div>
   
    <p class = "site-footer-copyright" >&copy; สถานที่ท่องเที่ยวนครปฐม</p>
</footer>